* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
  
/* tati blocco iniziale  */
section {
    height: 100vh;
    background-color: rgb(38, 19, 19);
}

header {
    height: 10vh;
    background-color: rgb(38, 19, 19);
    position: relative;

}
header div {
    display: inline-block;
    color: white;
    position:absolute;
}
header button {
    padding: 2px;
    border-radius:4px;
    background-color: white;
    opacity: 0.4;
    font-weight: bold;
    
}

.scritta {
    top: 1px;
    bottom: 0;
    right: 30px;
    height: 50px;
}
.logo {
    top: 1px;
    bottom: 0;
    right: 0px;
    width: 30px;
    height: 50px;
} 
   /*inizio parte centrale  */

.flex {   
    height:80vh;            
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.card {               
    display: block;
    margin-right: 2px;
 }
 .relative {
    position: relative;
 }
 img {
    display: inline-block;
    width: 17vh;
 }

 /* parte finale */
 footer {
    height: 10vh;
    background-color: rgb(21, 66, 66);
 }
 .flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;


 }
 footer div {
    color: white;
    display: inline-block;
    align-items: center;
    
 }
 div span {
    color:red;
    padding:26px;
    background-color:gray;
    font-weight: bold;
    
    
 }
 a {
    color: white;
    padding: 15px;
 }
 .yellow {
    color: yellow;
 }
 .icon {
    margin-right:  190px;

 }